VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=cmeis-9f91c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cmeis-9f91c
VITE_FIREBASE_STORAGE_BUCKET=cmeis-9f91c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=137664688280
VITE_FIREBASE_APP_ID=1:137664688280:web:ec76d093a792e854fe60ed
VITE_FIREBASE_MEASUREMENT_ID=G-3HS2YEL93L
VITE_WHATSAPP_NUMBER=243900000000
VITE_SITE_URL=https://cmeis-dg3.org
VITE_MAPS_EMBED_URL=https://maps.google.com/maps?q=Kinshasa&t=&z=13&ie=UTF8&iwloc=&output=embed
